:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-y: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EDE9ED;
  color: #000;
}


/* For Webkit browsers */
::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
  scrollbar-color: #B0C4B1 transparent;
}

::-webkit-scrollbar-track {
  background: transparent; /* or any color */
}


::-webkit-scrollbar-thumb {
  background-color: #B0C4B1; /* scrollbar color */
  border-radius: 10px;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #B0C4B1 transparent;
}